<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Navbar Interactivo</title>
        <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    </head>
<body>

    <div class="max-w-3xl mx-auto text-center mt-16">
        <h1 class="text-4xl font-bold text-white leading-tight mb-2 border-t-4 border-b-4 border-blue-600 py-4">
          Biblioteca
        </h1>
      </div>



<!-- ✅ Grid Section - Starts Here 👇 -->
<section id="Projects"
    class="w-fit mx-auto grid grid-cols-1 lg:grid-cols-4 md:grid-cols-2 justify-items-center justify-center gap-y-20 gap-x-14 mt-10 mb-5">

    <!--   ✅ Product card 1 - Starts Here 👇 -->
    <div class="w-72 bg-gray-900 shadow-md rounded-xl duration-500 hover:scale-105 hover:shadow-xl">
        <a href="#">
            <img src="/assets/Portada truth1.png"
                    alt="Product" class="h-80 w-72 object-cover rounded-t-xl" />
            <div class="px-4 py-3 w-72">
                <span class="text-white mr-3 uppercase text-xs">VR</span>
                <p class="text-lg font-bold text-white truncate block capitalize">Truth</p>
                <div class="flex items-center">
                    <p class="text-lg font-semibold text-white cursor-auto my-3">MB</p>
                    <del>
                       
                    </del>
                    
                </div>
            </div>
        </a>
    </div>
    <!--   🛑 Product card 1 - Ends Here  -->

    <!--   ✅ Product card 2 - Starts Here 👇 -->
    <div class="w-72 bg-gray-900 shadow-md rounded-xl duration-500 hover:scale-105 hover:shadow-xl">
        <a href="#">
            <img src="/assets/Portada truth1.png"
                    alt="Product" class="h-80 w-72 object-cover rounded-t-xl" />
            <div class="px-4 py-3 w-72">
                <span class="text-white mr-3 uppercase text-xs">PC</span>
                <p class="text-lg font-bold text-white truncate block capitalize">Juego</p>
                <div class="flex items-center">
                    <p class="text-lg font-semibold text-white cursor-auto my-3">MB</p>
                    <del>
                        
                    </del>
                    
                </div>
            </div>
        </a>
    </div>
    <!--   🛑 Product card 2- Ends Here  -->

    <!--   ✅ Product card 3 - Starts Here 👇 -->
    <div class="w-72 bg-gray-900  shadow-md rounded-xl duration-500 hover:scale-105 hover:shadow-xl">
        <a href="#">
            <img src="/assets/Portada truth1.png"
                    alt="Product" class="h-80 w-72 object-cover rounded-t-xl" />
            <div class="px-4 py-3 w-72">
                <span class="text-white mr-3 uppercase text-xs">PC</span>
                <p class="text-lg font-bold text-white truncate block capitalize">Juego</p>
                <div class="flex items-center">
                    <p class="text-lg font-semibold text-white cursor-auto my-3">MB</p>
                    <del>
                        
                    </del>
                    
                </div>
            </div>
        </a>
    </div>
    <!--   🛑 Product card 3 - Ends Here  -->

    <!--   ✅ Product card 4 - Starts Here 👇 -->
    <div class="w-72 bg-gray-900  shadow-md rounded-xl duration-500 hover:scale-105 hover:shadow-xl">
        <a href="#">
            <img src="/assets/Portada truth1.png"
                    alt="Product" class="h-80 w-72 object-cover rounded-t-xl" />
            <div class="px-4 py-3 w-72">
                <span class="text-white mr-3 uppercase text-xs">PC</span>
                <p class="text-lg font-bold text-white truncate block capitalize">Juego</p>
                <div class="flex items-center">
                    <p class="text-lg font-semibold text-white cursor-auto my-3">MB</p>
                    <del>
                        
                    </del>
                    
                </div>
            </div>
        </a>
    </div>
    <!--   🛑 Product card 4 - Ends Here  -->

    <!--   ✅ Product card 5 - Starts Here 👇 -->
    <div class="w-72 bg-gray-900  shadow-md rounded-xl duration-500 hover:scale-105 hover:shadow-xl">
        <a href="#">
            <img src="/assets/Portada truth1.png"
                    alt="Product" class="h-80 w-72 object-cover rounded-t-xl" />
            <div class="px-4 py-3 w-72">
                <span class="text-white mr-3 uppercase text-xs">AR</span>
                <p class="text-lg font-bold text-white truncate block capitalize">Juego</p>
                <div class="flex items-center">
                    <p class="text-lg font-semibold text-white cursor-auto my-3">MB</p>
                    <del>
                        
                    </del>
                    
                </div>
            </div>
        </a>
    </div>
    <!--   🛑 Product card 5 - Ends Here  -->

    <!--   ✅ Product card 6 - Starts Here 👇 -->
    <div class="w-72 bg-gray-900 shadow-md rounded-xl duration-500 hover:scale-105 hover:shadow-xl">
        <a href="#">
            <img src="/assets/Portada truth1.png"
                    alt="Product" class="h-80 w-72 object-cover rounded-t-xl" />
            <div class="px-4 py-3 w-72">
                <span class="text-white mr-3 uppercase text-xs">PC</span>
                <p class="text-lg font-bold text-white truncate block capitalize">Juego</p>
                <div class="flex items-center">
                    <p class="text-lg font-semibold text-white cursor-auto my-3">MB</p>
                    <del>
                        
                    </del>
                    
                </div>
            </div>
        </a>
    </div>
    <!--   🛑 Product card 6 - Ends Here  -->
    <div class="w-72 bg-gray-900  shadow-md rounded-xl duration-500 hover:scale-105 hover:shadow-xl">
        <a href="#">
            <img src="/assets/Portada truth1.png"
                    alt="Product" class="h-80 w-72 object-cover rounded-t-xl" />
            <div class="px-4 py-3 w-72">
                <span class="text-white mr-3 uppercase text-xs">PC</span>
                <p class="text-lg font-bold text-white truncate block capitalize">Juego</p>
                <div class="flex items-center">
                    <p class="text-lg font-semibold text-white cursor-auto my-3">MB</p>
                    <del>
                        
                    </del>
                    
                </div>
            </div>
        </a>
    </div>

    <div class="w-72 bg-gray-900  shadow-md rounded-xl duration-500 hover:scale-105 hover:shadow-xl">
        <a href="#">
            <img src="/assets/Portada truth1.png"
                    alt="Product" class="h-80 w-72 object-cover rounded-t-xl" />
            <div class="px-4 py-3 w-72">
                <span class="text-white mr-3 uppercase text-xs">PC</span>
                <p class="text-lg font-bold text-white truncate block capitalize">Juego</p>
                <div class="flex items-center">
                    <p class="text-lg font-semibold text-white cursor-auto my-3">MB</p>
                    <del>
                        
                    </del>
                    
                </div>
            </div>
        </a>
    </div>

</section>

<!-- 🛑 Grid Section - Ends Here -->




<script src="https://storage.ko-fi.com/cdn/scripts/overlay-widget.js"></script>
<script>
    kofiWidgetOverlay.draw('mohamedghulam', {
            'type': 'floating-chat',
            'floating-chat.donateButton.text': 'Support me',
            'floating-chat.donateButton.background-color': '#323842',
            'floating-chat.donateButton.text-color': '#fff'
        });
</script>

    
</body>

<footer class="bg-gray-800 text-white py-6 mt-8">
    <div class="container mx-auto">
        <p class="text-gray-400">Contacto: infojuegosfera.com</p>
        <p class="text-gray-400">&copy; 2024 Juegosfera. Todos los derechos reservados.</p>
    </div>
  </footer>
</html>
