<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Navbar Interactivo</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>
<body class="body">

    <div class="mt-8 mb-6 ml-16">
        <a href="" class="text-white text-4xl font-bold p-4 pt-6">Próximos Lanzamientos</a>
        <div class="border-b border-gray-700 w-3/3 mt-8"></div>
    </div>
    <div class="max-w-screen-2xl mx-auto p-5 sm:p-10 md:p-16">
    <div class="grid grid-cols-1 sm:grid-cols-12 gap-10">

        <!-- Primera sección con imagen grande -->
        <div class="sm:col-span-6 lg:col-span-5">
            <a>
                <div class="h-64 sm:h-80 lg:h-96 bg-cover text-center overflow-hidden rounded-lg"
                    style="background-image: url('/assets/chrono.jfif')"
                    title="Woman holding a mug">
                </div>
            </a>
            <div class="mt-3 bg-gray-900 rounded-lg p-5 flex flex-col justify-between leading-normal">
                <div class="lg:pl-4">
                    <a
                        class="text-xs text-blue-500 uppercase font-medium mb-3 flex items-center hover:text-blue-300 transition duration-300 ease-in-out">
                        Lanzamiento
                    </a>
                    <a 
                        class="text-white font-bold text-lg mb-2 hover:text-blue-500 transition duration-300 ease-in-out">¡Llega Chrono Nexus!</a>
                    <p class="text-gray-400 text-xs mt-2">Chrono Nexus es el nuevo RPG de ciencia ficción donde los jugadores pueden manipular el tiempo para cambiar eventos históricos y evitar el colapso de distintas civilizaciones. </p>
                </div>
            </div>
        </div>

        <!-- Segunda sección con lista de noticias más pequeñas -->
        <div class="sm:col-span-6 lg:col-span-4">
            <div class="flex items-start mb-5">
                <a class="inline-block mr-3">
                    <div class="w-24 h-24 bg-cover bg-center rounded-lg"
                        style="background-image:url(/assets/mindframe.jfif);">
                    </div>
                </a>
                <div class="text-sm">
                    <p class="text-gray-400 text-xs">Enero 2025</p>
                    <a class="text-white font-medium hover:text-blue-500 leading-tight">Mindframe revoluciona los juegos de estrategia mental</a>
                </div>
            </div>
            <div class="flex items-start mb-5">
                <a class="inline-block mr-3">
                    <div class="w-24 h-24 bg-cover bg-center rounded-lg"
                        style="background-image:url(/assets/Beastborne.jfif);">
                    </div>
                </a>
                <div class="text-sm w-2/3">
                    <p class="text-gray-400 text-xs">Enero 2025</p>
                    <a class="text-white font-medium hover:text-blue-500 leading-tight">Anunciado Beastborne: Leyendas de Gaia, un MMORPG de criaturas místicas</a>
                </div>
            </div>
            <div class="flex items-start mb-5">
                <a class="inline-block mr-3">
                    <div class="w-24 h-24 bg-cover bg-center rounded-lg"
                        style="background-image:url(/assets/Circuit.jfif);">
                    </div>
                </a>
                <div class="text-sm">
                    <p class="text-gray-400 text-xs">Febrero 2025</p>
                    <a class="text-white font-medium hover:text-blue-500 leading-tight">Descubre Circuit Overload, la nueva experiencia de carreras virtuales</a>
                </div>
            </div>
            <div class="flex items-start">
                <a class="inline-block mr-3">
                    <div class="w-24 h-24 bg-cover bg-center rounded-lg"
                        style="background-image:url(/assets/Galactic.jfif);">
                    </div>
                </a>
                <div class="text-sm w-2/3">
                    <p class="text-gray-400 text-xs">Febrero 2025</p>
                    <a class="text-white font-medium hover:text-blue-500 leading-tight">Galactic Warden: combate espacial sin límites en la galaxia perdida</a>
                </div>
            </div>
        </div>

        <!-- Tercera sección con imagen más pequeña -->
        <div class="sm:col-span-12 lg:col-span-3">
            <a>
                <div class="h-64 bg-cover text-center overflow-hidden rounded-lg"
                    style="background-image: url('/assets/Legends.jfif')"
                    title="Woman holding a mug">
                </div>
            </a>
            <div class="mt-3 bg-gray-900 rounded-lg p-5 flex flex-col justify-between leading-normal">
                <div class="">
                    <a
                        class="text-xs text-blue-500 uppercase font-medium flex items-center hover:text-blue-300 transition duration-300 ease-in-out">
                        Lanzamiento
                    </a>
                    <a
                        class="text-white font-bold text-lg mb-2 hover:text-blue-500 transition duration-300 ease-in-out">Legends of Eldoria, un juego de aventuras con arte inspirador</a>
                    <p class="text-gray-400 text-xs mt-2">En Legends of Eldoria, los jugadores exploran un mundo mágico lleno de acertijos, enemigos míticos y secretos ocultos.</p>
                </div>
            </div>
        </div>

    </div>
    </div>



    <footer class="bg-gray-800 text-white py-6 mt-8">
        <div class="container mx-auto">
            <p class="text-gray-400">Contacto: infojuegosfera.com</p>
            <p class="text-gray-400">&copy; 2024 Juegosfera. Todos los derechos reservados.</p>
        </div>
    </footer>

</body>
</html>
