<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ product?.name }} - Descripción</title>
  <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>
<body class="body">
    <div class="max-w-6xl mx-auto p-6 bg-gray-900 text-white"> 
      <div *ngIf="product">
        <!-- Contenedor principal del producto --> 
      
        <div class="grid grid-cols-1 lg:grid-cols-2 gap-8"> 
      
          <!-- Imagen principal del producto --> 
      
          <div class="space-y-4"> 
      
            <img [src]="product?.image" alt="{{ product?.name }}" class="w-full h-auto rounded-lg shadow-md mb-4" id="mainImage">
      
            <!-- Carrusel de imágenes pequeñas --> 
      
            <div class="flex space-x-4"> 
      
              <img src="https://via.placeholder.com/150x100" alt="Thumbnail 1" class="w-24 h-16 object-cover rounded-lg cursor-pointer hover:opacity-75"> 
      
              <img src="https://via.placeholder.com/150x100" alt="Thumbnail 2" class="w-24 h-16 object-cover rounded-lg cursor-pointer hover:opacity-75"> 
      
              <img src="https://via.placeholder.com/150x100" alt="Thumbnail 3" class="w-24 h-16 object-cover rounded-lg cursor-pointer hover:opacity-75"> 
      
              <img src="https://via.placeholder.com/150x100" alt="Thumbnail 4" class="w-24 h-16 object-cover rounded-lg cursor-pointer hover:opacity-75"> 
      
            </div> 
      
          </div> 
      
      
      
          <!-- Detalles del producto --> 
      
          <div> 
      
            <h1 class="text-3xl font-bold mb-4">{{product?.name}}</h1> 
            <a href="/tienda" style="float: right;" class="bg-blue-600 text-white font-semibold px-6 py-3 rounded-lg hover:bg-blue-700 transition duration-300"> X </a> 
            <h5 class="text-3xl font-bold mb-4">SKU {{product?.sku}}</h5> 
      
      
      
            <!-- Estrellas de calificación --> 
      
            <div class="flex items-center mb-4"> 
      
              <span class="text-blue-500">&#9733;</span> 
      
              <span class="text-blue-500">&#9733;</span> 
      
              <span class="text-blue-500">&#9733;</span> 
      
              <span class="text-blue-500">&#9733;</span> 
      
              <span class="text-gray-500">&#9734;</span> 
      
            </div> 
      
      
      
            <!-- Descripción corta --> 
      
            <p class="mb-6"> 
              {{product?.description}}
            </p> 
      
      
      
            <!-- Tags de categorías --> 
      
            <div class="mb-6"> 
      
              <span *ngFor="let feature of product?.features" class="bg-blue-600 text-white text-xs font-semibold mr-2 px-4 py-2 rounded-full">{{ feature }}</span> 
      
            </div> 
      
      
      
            <!-- Precio --> 
      
            <div class="text-3xl font-bold mb-4">${{product?.price}} MX</div> 
      
            <p class="text-sm mb-4">IVA INCLUIDO</p> 
      
      
      
            <!-- Selector de cantidad --> 
      
            <div class="flex items-center mb-6"> 
      
              <button class="bg-gray-800 text-white px-4 py-2 rounded-l-lg">-</button> 
      
              <input type="number" value="1" min="1" class="w-16 text-center bg-gray-800 text-white"> 
      
              <button class="bg-gray-800 text-white px-4 py-2 rounded-r-lg">+</button> 
      
            </div> 
      
      
      
            <!-- Botones de acción --> 
      
            <div class="flex space-x-4 mb-6" *ngIf="authService.currentUser"> 
      
              <button class="bg-blue-600 text-white font-semibold px-6 py-3 rounded-lg hover:bg-blue-700 transition duration-300">Comprar ahora</button> 
      
              <button class="bg-transparent border border-blue-600 text-blue-600 font-semibold px-6 py-3 rounded-lg hover:bg-blue-600 hover:text-white transition duration-300" (click)="addToCart()">Añadir al carrito</button> 
      
            </div> 

            <div class="text-3xl font-bold mb-4" *ngIf="!authService.currentUser">
                <h5>Debes iniciar sesión para comprar productos</h5>
            </div>
      
      
      
            <!-- Botón de lista de deseos --> 
      
            <button class="text-blue-600 hover:text-blue-700 transition duration-300"> 
      
              <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor"> 
      
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5.121 21a1 1 0 01-.707-1.707l9-9a1 1 0 011.414 0l9 9A1 1 0 0120.879 21h-6.758a1 1 0 00-.707.293l-2.828 2.828a1 1 0 01-1.414 0L5.828 21H5.121z" /> 
      
              </svg> 
      
            </button> 
      
          </div> 
      
        </div> 
      
      
      
        <!-- Sección de especificaciones y reseñas --> 
      
        <div class="mt-12"> 
      
          <div class="flex space-x-4 border-b border-gray-700">
            <button 
              (click)="activeTab = 'especificaciones'" 
              [ngClass]="{
                'text-white border-blue-600': activeTab === 'especificaciones',
                'text-gray-400 hover:text-white': activeTab !== 'especificaciones'
              }"
              class="pb-2 text-lg font-semibold border-b-2 transition duration-300"
            >
              Especificaciones
            </button>
          
            <button 
              (click)="activeTab = 'resenas'" 
              [ngClass]="{
                'text-white border-blue-600': activeTab === 'resenas',
                'text-gray-400 hover:text-white': activeTab !== 'resenas'
              }"
              class="pb-2 text-lg font-semibold border-b-2 transition duration-300"
            >
              Reseñas
            </button>
          </div>
          
          <!-- Content for Especificaciones -->
          <div *ngIf="activeTab === 'especificaciones'" class="mt-6">
            <h2 class="text-xl font-semibold mb-4">Sobre el juego</h2>
            <p class="mb-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit...</p>
          </div>
          
          <!-- Content for Reseñas -->
          <div *ngIf="activeTab === 'resenas'" class="mt-6">
            <!-- Display Existing Reviews -->
            <div *ngFor="let review of reviews$ | async" class="review bg-gray-100 p-4 rounded-lg shadow mb-4">
              <div class="flex justify-between items-center">
                <p class="text-lg font-semibold text-gray-800">{{ review.username }}</p>
                <small class="text-gray-500">{{ review.timestamp.toDate() | date: 'medium' }}</small>
              </div>
              <p class="mt-2 text-gray-700">{{ review.comment }}</p>
            </div>

            <!-- New Review Form for Authenticated Users -->
            <div *ngIf="authService.currentUser" class="new-review-form mt-6 bg-white p-6 rounded-lg shadow-md">
              <h3 class="text-xl font-bold text-gray-800 mb-4">Escribe una reseña</h3>
              <textarea [(ngModel)]="newReview.comment" placeholder="..."
                        class="w-full p-3 border border-gray-300 rounded-lg resize-none focus:outline-none focus:ring-2 focus:ring-indigo-400 text-gray-800"
                        rows="4"></textarea>
              
              <!-- Rating Dropdown -->
              <div class="mt-4">
                <label for="rating" class="block text-gray-700 font-medium">Calificación:</label>
                <select [(ngModel)]="newReview.rating" id="rating" class="w-full p-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-indigo-400">
                  <option *ngFor="let estrella of [1, 2, 3, 4, 5]" [value]="estrella" style="color: black;">{{ estrella }} Estrella{{ estrella > 1 ? 's' : '' }}</option>
                </select>
              </div>
              
              <!-- Submit Button -->
              <button (click)="addReview()" class="mt-4 w-full bg-indigo-600 text-white py-2 rounded-lg hover:bg-indigo-500 transition">
                Añadir reseña
              </button>
            </div>

            <!-- Login Prompt for Non-Authenticated Users -->
            <div *ngIf="!authService.currentUser" class="mt-6 bg-yellow-100 p-4 rounded-lg">
              <p class="text-gray-800">Debes iniciar sesión para redactar una reseña.</p>
            </div>

          </div>
        </div> 
      </div>
    
    </div>


  <footer class="bg-gray-800 text-white py-6 mt-8">
    <div class="container mx-auto">
      <p class="text-gray-400">Contacto: infojuegosfera.com</p>
      <p class="text-gray-400">&copy; 2024 Juegosfera. Todos los derechos reservados.</p>
    </div>
  </footer>
</body>
</html>
