<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ product?.name }} - Descripción</title>
  <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>
<body class="body">
    <nav class="bg-gray-800 p-4 shadow-lg">
        <div class="container mx-auto flex items-center justify-between">
            <!-- Sección izquierda: logotipo -->
            <div class="flex items-center">
                <img src="/assets/logo.png" alt="Logo Juegosfera" class="h-10 w-10 mr-3">
                <span class="text-white text-xl font-semibold">Juegosfera</span>
            </div>
    
            <!-- Menú de navegación en pantallas grandes -->
            <div class="hidden md:flex space-x-6 items-center">
                <a href="/main" class="text-gray-300 hover:text-white transition duration-300">Inicio</a>
                <a href="/tienda" class="text-gray-300 hover:text-white transition duration-300">Tienda</a>
                <a href="/noticias" class="text-gray-300 hover:text-white transition duration-300">Noticias</a>
                <a href="/faqs" class="text-gray-300 hover:text-white transition duration-300">Preguntas Frecuentes</a>
                <a href="/ayuda" class="text-gray-300 hover:text-white transition duration-300">Ayuda</a>
                <a href="/cart" class="text-gray-300 hover:text-white transition duration-300">Carrito</a>
    
                <!-- Ícono personalizado -->
                <button class="p-2 focus:outline-none">
                    <img src="/assets/corazon sin cuadro.png" class="w-8 h-7 hover:text-blue-700 transition duration-300" alt="Ícono personalizado" />
                </button>
    
                <!-- If user is logged in, show user's name or email -->
            <div *ngIf="authService.currentUser; else notLoggedIn" class="hidden md:block">
              <a href="/login" class="bg-blue-500 text-white px-4 py-2 rounded-md hover:bg-blue-600 transition duration-300">
              {{ authService.currentUser.displayName || authService.currentUser.email }}
              </a>
          </div>
          
          <!-- If user is not logged in, show "Iniciar sesión" -->
          <ng-template #notLoggedIn>
              <div class="hidden md:block">
                <a href="/login" class="bg-blue-500 text-white px-4 py-2 rounded-md hover:bg-blue-600 transition duration-300">
                    Iniciar sesión
                </a>
              </div>
          </ng-template>
            </div>
    
            <!-- Menú para pantallas pequeñas -->
            <div class="md:hidden">
                <button id="mobile-menu-button" class="text-white focus:outline-none">
                    <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-7 6h7"></path>
                    </svg>
                </button>
            </div>
        </div>
    
        <!-- Menú desplegable en móviles -->
        <div id="mobile-menu" class="hidden md:hidden">
            <div class="flex flex-col space-y-2 p-4 bg-gray-700">
                <a href="/main" class="text-gray-300 hover:text-white transition duration-300">Inicio</a>
                <a href="/tienda" class="text-gray-300 hover:text-white transition duration-300">Tienda</a>
                <a href="/noticias" class="text-gray-300 hover:text-white transition duration-300">Noticias</a>
                <a href="/faqs" class="text-gray-300 hover:text-white transition duration-300">Preguntas Frecuentes</a>
                <a href="ayuda" class="text-gray-300 hover:text-white transition duration-300">Ayuda</a>
    
                <!-- Ícono personalizado en menú móvil -->
                <button class="p-2 focus:outline-none">
                    <img src="/assets/corazon sin cuadro.png" class="w-15 h-10 hover:text-blue-700 transition duration-300" alt="Ícono personalizado" />
                </button>
    
                <!-- Login en móviles -->
                <div class="block">
                    <a href="/login" class="bg-blue-500 text-white px-4 py-2 rounded-md hover:bg-blue-600 transition duration-300">
                        
                    </a>
                </div>
            </div>
        </div>
    </nav>

    <div class="max-w-6xl mx-auto p-6 bg-gray-900 text-white"> 
      <div *ngIf="product">
        <!-- Contenedor principal del producto --> 
      
        <div class="grid grid-cols-1 lg:grid-cols-2 gap-8"> 
      
          <!-- Imagen principal del producto --> 
      
          <div class="space-y-4"> 
      
            <img [src]="product?.image" alt="{{ product?.name }}" class="w-full h-auto rounded-lg shadow-md mb-4" id="mainImage">
      
            <!-- Carrusel de imágenes pequeñas --> 
      
            <div class="flex space-x-4"> 
      
              <img src="https://via.placeholder.com/150x100" alt="Thumbnail 1" class="w-24 h-16 object-cover rounded-lg cursor-pointer hover:opacity-75"> 
      
              <img src="https://via.placeholder.com/150x100" alt="Thumbnail 2" class="w-24 h-16 object-cover rounded-lg cursor-pointer hover:opacity-75"> 
      
              <img src="https://via.placeholder.com/150x100" alt="Thumbnail 3" class="w-24 h-16 object-cover rounded-lg cursor-pointer hover:opacity-75"> 
      
              <img src="https://via.placeholder.com/150x100" alt="Thumbnail 4" class="w-24 h-16 object-cover rounded-lg cursor-pointer hover:opacity-75"> 
      
            </div> 
      
          </div> 
      
      
      
          <!-- Detalles del producto --> 
      
          <div> 
      
            <h1 class="text-3xl font-bold mb-4">{{product?.name}}</h1> 
            <a href="/tienda" style="float: right;" class="bg-blue-600 text-white font-semibold px-6 py-3 rounded-lg hover:bg-blue-700 transition duration-300"> X </a> 
            <h5 class="text-3xl font-bold mb-4">SKU {{product?.sku}}</h5> 
      
      
      
            <!-- Estrellas de calificación --> 
      
            <div class="flex items-center mb-4"> 
      
              <span class="text-blue-500">&#9733;</span> 
      
              <span class="text-blue-500">&#9733;</span> 
      
              <span class="text-blue-500">&#9733;</span> 
      
              <span class="text-blue-500">&#9733;</span> 
      
              <span class="text-gray-500">&#9734;</span> 
      
            </div> 
      
      
      
            <!-- Descripción corta --> 
      
            <p class="mb-6"> 
              {{product?.description}}
            </p> 
      
      
      
            <!-- Tags de categorías --> 
      
            <div class="mb-6"> 
      
              <span *ngFor="let feature of product?.features" class="bg-blue-600 text-white text-xs font-semibold mr-2 px-4 py-2 rounded-full">{{ feature }}</span> 
      
            </div> 
      
      
      
            <!-- Precio --> 
      
            <div class="text-3xl font-bold mb-4">${{product?.price}} MX</div> 
      
            <p class="text-sm mb-4">IVA INCLUIDO</p> 
      
      
      
            <!-- Selector de cantidad --> 
      
            <div class="flex items-center mb-6"> 
      
              <button class="bg-gray-800 text-white px-4 py-2 rounded-l-lg">-</button> 
      
              <input type="number" value="1" min="1" class="w-16 text-center bg-gray-800 text-white"> 
      
              <button class="bg-gray-800 text-white px-4 py-2 rounded-r-lg">+</button> 
      
            </div> 
      
      
      
            <!-- Botones de acción --> 
      
            <div class="flex space-x-4 mb-6"> 
      
              <button class="bg-blue-600 text-white font-semibold px-6 py-3 rounded-lg hover:bg-blue-700 transition duration-300">Comprar ahora</button> 
      
              <button class="bg-transparent border border-blue-600 text-blue-600 font-semibold px-6 py-3 rounded-lg hover:bg-blue-600 hover:text-white transition duration-300" (click)="addToCart()">Añadir al carrito</button> 
      
            </div> 
      
      
      
            <!-- Botón de lista de deseos --> 
      
            <button class="text-blue-600 hover:text-blue-700 transition duration-300"> 
      
              <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor"> 
      
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5.121 21a1 1 0 01-.707-1.707l9-9a1 1 0 011.414 0l9 9A1 1 0 0120.879 21h-6.758a1 1 0 00-.707.293l-2.828 2.828a1 1 0 01-1.414 0L5.828 21H5.121z" /> 
      
              </svg> 
      
            </button> 
      
          </div> 
      
        </div> 
      
      
      
        <!-- Sección de especificaciones y reseñas --> 
      
        <div class="mt-12"> 
      
          <div class="flex space-x-4 border-b border-gray-700"> 
      
            <button class="pb-2 text-lg font-semibold text-white border-b-2 border-blue-600">Especificaciones</button> 
      
            <button class="pb-2 text-lg font-semibold text-gray-400 hover:text-white transition duration-300">Reseñas</button> 
      
          </div> 
      
      
      
          <!-- Descripción del juego --> 
      
          <div class="mt-6"> 
      
            <h2 class="text-xl font-semibold mb-4">Sobre el juego</h2> 
      
            <p class="mb-4"> 
      
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
      
            </p> 
      
            <p> 
      
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
      
            </p> 
      
          </div> 
      
        </div> 
      </div>
    
    </div>


  <footer class="bg-gray-800 text-white py-6 mt-8">
    <div class="container mx-auto">
      <p class="text-gray-400">Contacto: infojuegosfera.com</p>
      <p class="text-gray-400">&copy; 2024 Juegosfera. Todos los derechos reservados.</p>
    </div>
  </footer>
</body>
</html>
