<nav class="bg-gray-800 p-4 shadow-lg">
    <div class="container mx-auto flex items-center justify-between">
        <!-- Sección izquierda: logotipo -->
        <div class="flex items-center">
            <img src="/assets/logo.png" alt="Logo Juegosfera" class="h-10 w-10 mr-3">
            <span class="text-white text-xl font-semibold">Juegosfera</span>
        </div>

        <!-- Menú de navegación en pantallas grandes -->
        <div class="hidden md:flex space-x-6 items-center">
            <a href="/main" class="text-gray-300 hover:text-white transition duration-300">Inicio</a>
            <a href="/tienda" class="text-gray-300 hover:text-white transition duration-300">Tienda</a>
            <a href="/noticias" class="text-gray-300 hover:text-white transition duration-300">Noticias</a>
            <a href="/faqs" class="text-gray-300 hover:text-white transition duration-300">Preguntas Frecuentes</a>
            <a href="/ayuda" class="text-gray-300 hover:text-white transition duration-300">Ayuda</a>
            <a href="/cart" class="text-gray-300 hover:text-white transition duration-300">Carrito</a>


            <!-- Ícono personalizado -->
            <button class="p-2 focus:outline-none">
                <img src="/assets/corazon sin cuadro.png" class="w-8 h-7 hover:text-blue-700 transition duration-300" alt="Ícono personalizado" />
            </button>

            <!-- dropdown.component.html -->
            <div class="relative">
                <button (click)="toggleDropdown()" *ngIf="authService.currentUser; else notLoggedIn" class="bg-blue-500 text-white px-4 py-2 rounded-md hover:bg-blue-600 transition duration-300 flex items-center">
                {{ authService.currentUser.displayName || authService.currentUser.email }}
                </button>
            
                <div *ngIf="isOpen" class="absolute right-0 mt-2 w-48 bg-white border border-gray-200 rounded-md shadow-lg z-10">
                <a href="/cuenta" class="block px-4 py-2 text-gray-700 hover:bg-gray-100" (click)="closeDropdown()">Configuración</a>
                <a href="/biblioteca" class="block px-4 py-2 text-gray-700 hover:bg-gray-100" (click)="closeDropdown()">Biblioteca</a>
                <a href="#" class="block px-4 py-2 text-gray-700 hover:bg-gray-100" (click)="signOut()" (click)="closeDropdown()">Cerrar sesión</a>
                </div>
                <ng-template #notLoggedIn>
                    <div class="hidden md:block">
                      <a href="/login" class="bg-blue-500 text-white px-4 py-2 rounded-md hover:bg-blue-600 transition duration-300">
                          Iniciar sesión
                      </a>
                    </div>
                </ng-template>
            </div>

        
        </div>

        <!-- Menú para pantallas pequeñas -->
        <div class="md:hidden">
            <button id="mobile-menu-button" class="text-white focus:outline-none">
                <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-7 6h7"></path>
                </svg>
            </button>
        </div>
    </div>

    <!-- Menú desplegable en móviles -->
    <div id="mobile-menu" class="hidden md:hidden">
        <div class="flex flex-col space-y-2 p-4 bg-gray-700">
            <a href="/main" class="text-gray-300 hover:text-white transition duration-300">Inicio</a>
            <a href="/tienda" class="text-gray-300 hover:text-white transition duration-300">Tienda</a>
            <a href="/noticias" class="text-gray-300 hover:text-white transition duration-300">Noticias</a>
            <a href="/faqs" class="text-gray-300 hover:text-white transition duration-300">Preguntas Frecuentes</a>
            <a href="ayuda" class="text-gray-300 hover:text-white transition duration-300">Ayuda</a>
            <a href="/cart" class="text-gray-300 hover:text-white transition duration-300">Carrito</a>

            <!-- Ícono personalizado en menú móvil -->
            <button class="p-2 focus:outline-none">
                <img src="/assets/corazon sin cuadro.png" class="w-15 h-10 hover:text-blue-700 transition duration-300" alt="Ícono personalizado" />
            </button>

            <!-- Login en móviles -->
            <div class="block">
                <a href="/login" class="bg-blue-500 text-white px-4 py-2 rounded-md hover:bg-blue-600 transition duration-300">
                    {{ authService.currentUser?.displayName || authService.currentUser?.email }}
                </a>
            </div>
        </div>
    </div>
</nav>
<router-outlet></router-outlet>
