<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Navbar Interactivo</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>
<body class="body">
<div class="bg-gray-100">
  <div class="container mx-auto py-12">
      <div class="max-w-lg mx-auto px-4">
          <h2 class="text-3xl font-semibold text-blue-500 mb-4">
            ¿Cómo podemos ayudarte?
          </h2>
          <p class="text-gray-700 mb-8">
            En nuestra plataforma, tu experiencia es nuestra prioridad. Si tienes alguna pregunta o inquietud, 
            estamos aquí para ofrecerte el apoyo que necesitas. 
          </p>
          <form class="bg-white rounded-lg px-6 py-8 shadow-md">
              <div class="mb-4">
                  <label class="block text-gray-700 font-bold mb-2" for="name">Nombre</label>
                  <input
                      class="appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                      id="name" type="text" placeholder="Ingresa tu nombre">
              </div>
              <div class="mb-4">
                  <label class="block text-gray-700 font-bold mb-2" for="email">Email</label>
                  <input
                      class="appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                      id="email" type="email" placeholder="Ingresa tu email">
              </div>
              <div class="mb-4">
                  <label class="block text-gray-700 font-bold mb-2" for="message">Mensaje</label>
                  <textarea
                      class="appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                      id="message" rows="6" placeholder="Ingresa tu mensaje"></textarea>
              </div>
              <div class="flex justify-end">
                  <button
                      class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
                      type="button">
                      Envíar
                  </button>
              </div>
          </form>
      </div>
  </div>
</div>

    <footer class="bg-gray-800 text-white py-6 mt-8">
        <div class="container mx-auto">
            <p class="text-gray-400">Contacto: infojuegosfera.com</p>
            <p class="text-gray-400">&copy; 2024 Juegosfera. Todos los derechos reservados.</p>
        </div>
    </footer>

</body>
</html>